/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */

$typo_kumbh :'Kumbh Sans', sans-serif ;
$typo_gruppo : 'Gruppo', cursive;


/* -------------------------------------------------------------------------- */
/*                                    COLOR                                   */
/* -------------------------------------------------------------------------- */

$blue : #1B3A45; 
$yellow : #FFCC53;
$white : #FCEDDF;
